
    <script src="js/jquery.min.js"></script>
  
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  
  <script src="js/jquery.chocolat.js"></script>
  <!--lightboxfiles-->
  <script type="text/javascript">
  $(function() {
   $('.gallery a').Chocolat();
  });
  </script>
  
  <!--startsmothscrolling-->
  <script type="text/javascript" src="js/move-top.js"></script>
  <script type="text/javascript" src="js/easing.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){		
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
      });
    });
  </script>
  
  <script src="js/modernizr.custom.97074.js"></script>

<div class="team" id="guides">
  <div class="container">
    <h3 class="tittle">Tour Guides</h3>
    <div class="team_gds">
      <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <div class="team_pos">
          <div class="team_back"></div>
          <img class="img-responsive" src="../../assets/images/t1.jpg"  alt=" ">
          <div class="team_info">
            <a href="#"  class="face_one"><i class="fc1"></i></a>
            <a href="#"  class="face_one"><i class="fc2"></i></a>
            <a href="#"  class="face_one"><i class="fc3"></i></a>
          </div>
        </div>
        <h4>Filmr Doe</h4>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor 
            sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
      </div>
    
      <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <div class="team_pos">
          <div class="team_back"></div>
          <img class="img-responsive" src="../../assets/images/t3.jpg"  alt=" ">
          <div class="team_info">
            <a href="#"  class="face_one"><i class="fc1"></i></a>
            <a href="#"  class="face_one"><i class="fc2"></i></a>
            <a href="#"  class="face_one"><i class="fc3"></i></a>
          </div>
        </div>
        <h4>Jaye Smith</h4>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor 
            sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
      </div>
      <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <div class="team_pos">
          <div class="team_back"></div>
          <img class="img-responsive" src="../../assets/images/t4.jpg"  alt=" ">
          <div class="team_info">
            <a href="#"  class="face_one"><i class="fc1"></i></a>
            <a href="#"  class="face_one"><i class="fc2"></i></a>
            <a href="#"  class="face_one"><i class="fc3"></i></a>
          </div>
        </div>
        <h4>Federica</h4>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor 
            sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
      </div>
      <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <div class="team_pos">
          <div class="team_back"></div>
          <img class="img-responsive" src="../../assets/images/t2.jpg"  alt=" ">
          <div class="team_info">
            <a href="#"  class="face_one"><i class="fc1"></i></a>
            <a href="#"  class="face_one"><i class="fc2"></i></a>
            <a href="#"  class="face_one"><i class="fc3"></i></a>
          </div>
        </div>
        <h4>Victoria</h4>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor 
            sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
      </div>
      <div class="clearfix"></div>		
    </div>
  </div>
</div>
