<div class="container">
    <div class="row" ng-app="myApp" ng-controller="myCtrl">
        <div class="col-md-offset-1 col-md-6 col-sm-12" >
            <div class="login">
                <h2>Login</h2>
                <hr>
                <!--Code of form started-->
                <form class="form-horizontal" name="frm" novalidate>


 <div class="form-group" >
    <label id="label" class="control-label">Username:</label>
    <input type="text" class="form-control" name="username" ng-model="username" placeholder="Enter Username" autocomplete="off" required />
</div>

<div class="form-group">
    <label id="label" class="control-label">Password:</label>
    <input type="password" class="form-control" ng-model="password" name="pass" placeholder="Enter Password" autocomplete="off" ng-minlength="5" ng-maxlength="12" required/>
</div> 


<div class="form-group">
    <!-- <input ng-disabled="frm.$invalid" class="btn btn-primary" type="submit" ng-click="call()" value="Login"> -->
    <button ng-click="get()">Get Data</button>
    <!-- <input type="submit" value="submit" ng-click="submit()"/> -->
</div>
</form>
</div>
</div>
</div>