
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
	
		
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta property="og:title" content="Vide" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Trip Guide Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		
    <script src="js/jquery.min.js"></script>
		 
		<link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>

    

 <script src="js/jquery.chocolat.js"></script>
 <!--lightboxfiles-->
 <script type="text/javascript">
 $(function() {
   $('.gallery a').Chocolat();
 });
 </script>

 <!--startsmothscrolling-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
  </script>
  
	<script src="js/modernizr.custom.97074.js"></script>


    <div class="header">
		<div class="container">
			<div class="header-menu  ">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display "navbar-toggle"-->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						  <div class="navbar-brand logo">
								<h1><a href="index.html"><span>Trip</span> Guide</a></h1>
							</div>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class=" navbar-collapse collapsed" id="bs-example-navbar-collapse-1">
						  <ul class="nav navbar-nav cl-effect-11">
							<li ><a href="#" routerLink="/home" routerLinkActive="active"data-hover="Home" class="scroll">Home </a></li>
							<li><a href="#about"routerLink="/about" routerLinkActive="active" data-hover="About" class="scroll">About</a></li>
							<li><a href="#services" routerLink="/services" routerLinkActive="active" data-hover="Services" class="scroll">Services</a></li>
							<li><a href="#tours" routerLink="/tour" routerLinkActive="active" data-hover="Tours" class="scroll">Tours</a></li>
							  <li><a  href="#guides" routerLink="/guide" routerLinkActive="active" data-hover="Guides" class="scroll">Guides</a></li>
							 <li><a data-hover="Login" routerLink="/login" routerLinkActive="active" href="#contact" class="scroll">Login</a></li>
							 <li><a data-hover="Register" routerLink="/register" routerLinkActive="active" href="#contact" class="scroll">Register</a></li>
							 <li><a data-hover="Reservation" routerLink="/reservation" routerLinkActive="active" href="#contact" class="scroll">Reservation</a></li>
							 
						  </ul>
						</div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
				</nav>
			
			<div class="clearfix"></div>
			</div>	
		</div> 
  </div>
  <div class="container">
			<router-outlet></router-outlet>
		</div>
		
			<div class="contact"  id="contact">
				<div class="container">
					<h3 class="tittle">Contact</h3>
					<div class="contact-grids">
						<form action="#" method="post">
							<div class="col-md-6 grid-contact">
								<div class="your-top">
									<i class="glyphicon glyphicon-user"> </i>
									<input type="text" name="Name" placeholder="Name"  required >								
									<div class="clearfix"> </div>
								</div>
								<div class="your-top">
									<i class="glyphicon glyphicon-envelope"> </i>
									<input type="text" name="E-mail" placeholder="E-mail"  required>								
									<div class="clearfix"> </div>
								</div>
								<div class="your-top">
									<i class="glyphicon glyphicon-link"> </i>
									<input type="text" name="Website" placeholder="Website"  required>								
									<div class="clearfix"> </div>
								</div>
								
							</div>
							<div class="col-md-6 grid-contact-in">
								<textarea name="Message"  placeholder=" Message"  required></textarea>
								<input type="submit" value="Send">
							</div>
							<div class="clearfix"> </div>
						</form>
					</div>
					<div class="google-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d58888647.94218372!2d-103.76180439324321!3d25.728324341247273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1stravel+agents+near+USA!5e0!3m2!1sen!2sin!4v1462507725713"  frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<!--footer-->
			<div class="copy-section">
				<div class="container">
					<div class="footer-top">
						<p>&copy; 2017 Tour Application</p>
					</div>
				</div>
			</div>
			
			<script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
							containerID: 'home', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
					 };
					*/
					
					$().UItoTop({ easingType: 'easeOutQuart' });
					
				});
			</script>
			
		
