
    <script src="js/jquery.min.js"></script>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

 <script src="js/jquery.chocolat.js"></script>
 <!--lightboxfiles-->
 <script type="text/javascript">
 $(function() {
   $('.gallery a').Chocolat();
 });
 </script>

 <!--startsmothscrolling-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
  </script>
  
  <script src="js/modernizr.custom.97074.js"></script>

	<div class="banner-section" >
		<div class="container-fluid">
			
						<!-- <router-outlet></router-outlet> -->
						
		
			<div class="banner-heder">
				<h3>We Plan Your Trip<span>Best Available Choice in Town</span></h3>
			</div>
			<div class="banner-grids">
				<div class="col-md-2 banner-grid">
					<select class="sel">
						<option value="">Location</option>
						<option value="">Czech Republic</option>
						<option value="">France</option>
						<option value="">germany</option>
						<option value="">Italy</option>
					</select>							
				</div>
				<div class="col-md-2 banner-grid">
					<select class="sel">
						<option value="">Hotel</option>
						<option value="">Hilton</option>
						<option value="">Orange county</option>
						<option value="">Sheraton</option>
					</select>								
				</div>
				<div class="col-md-2 banner-grid">
					<select class="sel">
						<option value="">Type</option>
						<option value="">Group</option>
						<option value="">Trip</option>
					</select>									
				</div>
				<div class="col-md-2 banner-grid">
					<select class="sel">
						<option value="">Select price</option>
						<option value="">$100 </option>
						<option value="">$500</option>
						<option value="">$700</option>
						<option value="">$4500</option>
					</select>									
				</div>
				<div class="col-md-4 search">
					<form action="#" method="post">
						<input type="submit" value="Check Availability">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
    </div>
    
    
		
  <div class="content">
	<div class="promotions">
	  <div class="container">
		<h2 class="tittle">Top Trip Guide</h2>
		<span>Best Travel Packages Available</span>
		<div class="promotion-grids">
		  <div class="col-md-4 promation-grid">
			<img src="../../assets/images/swat.jpg" class="img-responsive" alt=""/>
			<div class="prom-text">
			  <h4>Package 1</h4>
			  <div class="prom-bottom">
				<div class="prom-left">
				  <h5> 8 Days </h5>
				</div>
				<div class="prom-right">
				<h5>  7 Nights  </h5>
				</div>
				<div class="clearfix"></div>
			  </div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
			</div>
		  </div>
		  <div class="col-md-4 promation-grid">
			<img src="../../assets/images/chitral.jpg" class="img-responsive" alt=""/>
			<div class="prom-text">
			  <h4>Package 2</h4>
			  <div class="prom-bottom">
				<div class="prom-left">
				  <h5> 10 days </h5>
				</div>
				<div class="prom-right">
				<h5>  9 Nights  </h5>
				</div>
				<div class="clearfix"></div>
			  </div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
			</div>
		  </div>
		  <div class="col-md-4 promation-grid">
			<img src="../../assets/images/gilgit.jpg" class="img-responsive" alt=""/>
			<div class="prom-text">
			  <h4>Package 3</h4>
			  <div class="prom-bottom">
				<div class="prom-left">
				  <h5> 12 Days </h5>
				</div>
				<div class="prom-right">
				<h5>  11 Nights  </h5>
				</div>
				<div class="clearfix"></div>
			  </div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
			</div>
		  </div>
		  <div class="clearfix"></div>
		</div>
		<div class="promotion-grids">
		  <div class="col-md-4 promation-grid">
			<img src="../../assets/images/naran-kaghan.jpg" class="img-responsive" alt=""/>
			<div class="prom-text">
			  <h4>Package 4</h4>
			  <div class="prom-bottom">
				<div class="prom-left">
				  <h5> 7 Days </h5>
				</div>
				<div class="prom-right">
				<h5>  6 Nights  </h5>
				</div>
				<div class="clearfix"></div>
			  </div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
			</div>
		  </div>
		  <div class="col-md-4 promation-grid">
			<img src="../../assets/images/kashmir.jpg" class="img-responsive" alt=""/>
			<div class="prom-text">
			  <h4>Package 5</h4>
			  <div class="prom-bottom">
				<div class="prom-left">
				  <h5>  15 Days </h5>
				</div>
				<div class="prom-right">
				<h5>  14 Nights  </h5>
				</div>
				<div class="clearfix"></div>
			  </div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
			</div>
		  </div>
		  <div class="col-md-4 promation-grid">
			<img src="../../assets/images/muree.jpg" class="img-responsive" alt=""/>
			<div class="prom-text">
			  <h4>Package 6</h4>
			  <div class="prom-bottom">
				<div class="prom-left">
				  <h5> 10 Days </h5>
				</div>
				<div class="prom-right">
				<h5>  9 Nights  </h5>
				</div>
				<div class="clearfix"></div>
			  </div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
			</div>
		  </div>
		  <div class="clearfix"></div>
		</div>
	  </div>
	</div>

			
							